# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

1

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [7]:
print chipo.head(n=10)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
print chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
print chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [16]:
print chipo.columns.values

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [28]:
id =  chipo[chipo['quantity'] == max(chipo['quantity'])].index.tolist()

print id

[3598]

### Step 10. How many items were ordered?

In [49]:
print chipo['quantity'].loc[id].tolist()

[15]

### Step 11. What was the most ordered item in the choice_description column?

In [47]:
print chipo['choice_description'].loc[id].tolist()

[nan]

### Step 12. How many items were orderd in total?

In [48]:
print sum(chipo['quantity'])

4972

### Step 13. How much was the revenue for the period in the dataset?

In [123]:
# print chipo['quantity'] * chipo['item_price']

price_str = chipo['item_price'].tolist()
number_str = chipo['quantity'].tolist()

number = [float(ele) for ele in number_str]
price = [float(ele[1:]) for ele in price_str ]

total = np.asarray(number) * np.asarray(price)
print sum(total)

39237.02

### Step 14. How many orders were made in the period?

In [59]:
print chipo.tail()

print chipo['order_id'].iloc[-1]

      order_id  quantity           item_name  \
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
1834

### Step 15. What is the average amount per order?

In [128]:
print sum(total)/chipo['order_id'].iloc[-1]

21.3942311887

### Step 16. How many different itens are sold?